*.tlog
*.filters
*.db
*.idb
*.ipch
*.enc
*.opendb
*.txt
*.json
*.sqlite
*.xml
*.lastcodeanalysissucceeded
/x64/Debug
/nnet/x64/Debug
/.vs/nnet
*.user
/.vs/Machine-Learning-Cpp/v15
/test_data/iris
/test_data/MNIST
